<div class="Sales Page">
<img src="<%= item.picture1_url %>"><br><br>
<img src="<%= item.picture2_url %>"><br><br>
<img src="<%= item.picture3_url %>">
<br><br>
<h4><%= item.brand %> <%= item.type %></h4>
Originally Priced at: <b><%= item.original_price/100 %></b>
<br><br>
<h3>Now selling for: <b><%= item.asking_price/100 %></b></h3>
<br><br>
Notes:
<br><br>
<%= item.notes %>
<br><br>
<h4>Purchase Today</h4>


<!--Stripe Payment Form-->
<form action="/charge" method="POST" id="payment-form">
  <span class="payment-errors"></span>

<input name="item[id]" type="hidden" value="<%= item.id %>">

<div class="form-row">
    <label>
      <span>Name</span>
      <input name="user[name]" type="text" size="30" data-stripe="name" value="Jim Smith"/>
    </label>
</div>
<br>
<div class="form-row">
    <label>
      <span>Email</span>
      <input name="user[email]" type="text" size="30" data-stripe="email" value="jimsmith@gmail.com"/>
    </label>
</div>
<br>
<div class="form-row">
    <label>
      <span>Phone</span>
      <input name="user[phone]" type="text" size="30" data-stripe="phone" value="415-853-9060"/>
    </label>
</div>
<br>
<div class="form-row">
    <label>
      <span>Shipping Address</span>
      <input name="user[address]" type="text" size="30" value="3243 Mason Way, San Francisco, CA 94023"/>
    </label>
</div>
<br>
<div class="form-row">
    <label for "order[delivery_notes]">Delivery Notes:</label><br>
    <textarea name="order[delivery_notes]" placeholder="What's the best time and days to deliver?  Is there an access code? Do you have a dog who might bark at the delivery person? etc." rows="4" cols="50" >Please deliver at 3pm next Tuesday. My door code is #33</textarea>
</div>

<div class="form-row">
  <label>
    <span>Card Number</span>
    <input type="text" size="20" data-stripe="number" value="4242 4242 4242 4242" />
  </label>
</div>

<div class="form-row">
  <label>
    <span>CVC</span>
    <input type="text" size="4" data-stripe="cvc" value="123"/>
  </label>
</div>

<div class="form-row">
  <label>
    <span>Expiration (MM/YYYY)</span>
    <input type="text" size="2" data-stripe="exp-month" value="05" />
  </label>
  <span> / </span>
  <input type="text" size="4" data-stripe="exp-year" value="16"/>
</div>

  <button type="submit">Submit Payment</button>
</form>

</div>





