<div class="Sales Page">
<img src="<%= item.picture1_url %>"><br><br>
<img src="<%= item.picture2_url %>"><br><br>
<img src="<%= item.picture3_url %>">
<br><br>

	<h4><%= item.brand %> <%= item.type %></h4>
	<p><%= item.notes %>
<br><br>
Originally Priced at:
<b><%= item.original_price %></b>
<br><br>
Now selling for:
<h4><p><%= item.asking_price %></p></h4>

<button type="button">Purchase</button>

</div>