<table border="1" cellspacing="1">
	<tr>
		<th> Order ID </th>
		<th> Date Created </th>
		<th> Total Price </th>
		<th> Buyer </th>
		<th> Delivered? </th>
		<th> Approved? </th>
		<th> Charged? </th>
		<th> Admin Notes </th>
	</tr>



<% @orders.each do |order| %>

	<tr>
		<td><%= order.id %></td>
		<td><%= order.created_at %></td>
		<td><%= To_Dollars(order.total_price) %></td>
		<td>
			<% buyer = User.get(order.buyer_profile.user_id) %>
			<%=	buyer.name %>
		</td>
		<td>
			<% if order.shipped %>
				Delivered<br><%= order.shipped_date.strftime('%A, %B %d') %>
			<% else %>
				Expected Delivery Date:<br>
				<b><%= order.target_delivery_date.strftime('%A, %B %d') %><br><%= order.target_delivery_time_start.to_i %> p.m.
			  to <%= order.target_delivery_time_start.to_i+2 %> p.m.</b><br><br>

			  <% if order.shipper_email_sent == false %>
			  <form action="/ScheduleDelivery" method="get">
				<input name="order_id" type="hidden" value="<%= order.id %>">
				<input type="submit" value="Schedule Delivery">
				</form>
				<% end %>
			<% end %>
		</td>
		<td>
			<% if order.approved %>
				Approved
			<% else %>
				No
			<% end %>
		</td>
		<td>
			<% if order.charged %>
			Charged
			<% elsif order.shipped && order.approved %>

				<form action="/charge" method="post">
				<input name="order[id]" type="hidden" value="<%= order.id %>">
				<input type="submit" value="Charge Customer">
				</form>
			<% else %>
			No
			<% end %>
		</td>
		<td><%= order.admin_notes %></td>
	</tr>


<% end %>

</table>