<style>
.admin {
    border: 2px solid #a1a1a1;
    padding: 10px 20px;
    background: #dddddd;
    width: 200px;
    border-radius: 25px;
}
</style>
<a href="/FAQ">FAQ</a><br><br>

<% if user_signed_in? && current_user.is_admin? %>
<br><br>
<div class = "admin">
<h4><a href="/Admin">Admin Panel</a></h4> - Hooked up to Mailgun and Twilio for SMS
</div>
<br><br>
<% end %>

<% if user_signed_out? %>
<h3>CouchRocket is the easiest way to buy & sell used furniture online.</h3>
<p>How CouchRocket works for sellers:
	<ol>
		<li>Post your furniture for sale</li>
		<li>A Buyer orders your item. We come pick it up from your place.<br>
		You never have to meet the buyer.</li>
		<li>We deliver it.  The buyer approves.  You get paid!</li>
	</ol>
</p>

<p>How CouchRocket works for buyers:
	<ol>
		<li>Order an item you like.</li>
		<li>We deliver it to you. (If you don't like it, we'll take it back.)</li>
		<li>Enjoy your cool furniture!</li>
	</ol>
</p>
<% end %>

<% if !user_signed_in? %>
	<h3><a href="/register">Sign Up and Sell your Stuff Today!</a></h3>
<% end %>

<% if user_signed_in? && user_items.nil? %>
<p>Sell some stuff! Click the button below</p>
<form action="/items/new" method="get">
    <input type="submit" value="Post Something for Sale!">
</form>
<% end %>

<% if !user_items.nil? %>
	<h2>Your Items for Sale</h2>
		<% @user_items.each do |item| %>
		<a href="/items/<%= item.id %>">
		<IMG border="1" HEIGHT=50 WIDTH=50 SRC="<%= item.picture1_url %>">
		<%= item.brand %> <%= item.type %></a><br><br>
		<% end %>
<% end %>


<br>
<h2>Cool Stuff for Sale:</h2>
<% items_for_sale.each do |item| %>
<a href="/items/<%= item.id %>">
<IMG border="1" HEIGHT=50 WIDTH=50 SRC="<%= item.picture1_url %>">
<%= item.brand %> <%= item.type %></a><br><br>
<% end %>
