<style>
.admin {
    border: 2px solid #a1a1a1;
    padding: 10px 20px;
    background: #dddddd;
    width: 100px;
    border-radius: 25px;
}
</style>

<% if !user_signed_in? %>
<h3><a href="/register">Sign Up and Sell your Stuff Today!</a></h3><br><br>
<% end %>

<% if user_signed_in? && user_items.nil? %>
<p>Sell some stuff! Click the button below</p>
<form action="/items/new" method="get">
    <input type="submit" value="Post Something for Sale!">
</form>
<% end %>
<br>

<% if !user_items.nil? %>
	<h2>Your Items for Sale</h2>
		<% @user_items.each do |item| %>
		<a href="/items/<%= item.id %>">
		<IMG border="1" HEIGHT=50 WIDTH=50 SRC="<%= item.picture1_url %>">
		<%= item.brand %> <%= item.type %></a><br><br>
		<% end %>
<% end %>

<% if user_signed_in? && current_user.is_admin? %>
<div class = "admin">
<h4><a href="/Admin">Admin Panel</a></h4> - Hooked up to Mailgun and Twilio for SMS<br>
</div>
<br><br>
<% end %>

<h2>Cool Stuff for Sale:</h2>
<% items_for_sale.each do |item| %>
<a href="/items/<%= item.id %>">
<IMG border="1" HEIGHT=50 WIDTH=50 SRC="<%= item.picture1_url %>">
<%= item.brand %> <%= item.type %></a><br><br>
<% end %>
