<h1>Profile</h1>
<p>
Name: <%= user.name %><br><br>
Email: <%= user.email %><br><br>
Phone: <%= user.phone %><br><br>
Address: <%= user.address %><br><br>
</p>
<a href="/users/<%= user.id %>/edit">Edit Profile</a><br>

<a href="/users/<%= user.id %>/edit_password">Change Password</a>