<div class="Sales Page">
<h3><%= item.brand %> <%= item.type %></h3>
<img src="<%= item.picture1_url %>" width=300>
<img src="<%= item.picture2_url %>">
<img src="<%= item.picture3_url %>">
<br>
Notes:
<br>
<%= item.notes %>
<br>Originally Priced at: $<b><%= To_Dollars(item.original_price) %></b>
<br>
<h3>Now selling for: $<b><%= To_Dollars(item.asking_price) %></b></h3>
Delivery Cost: $<%= delivery_fee %><br>
Hassle Free Return Fee: $<%= return_insurance %> - This ensures that you can return the item if you don't like it, and have us pay the full return fee.
<h2>Delivered to your door for:<br>$<%= To_Dollars(item.asking_price) + delivery_fee + return_insurance %></h2>


<br><br>
<h4>Purchase Today!</h4>



<form action="/orders" method="POST" id="payment-form">
  <span class="payment-errors"></span>

<input name="item[id]" type="hidden" value="<%= item.id %>">

<div class="form-row">
    <label>
      <span>Name</span>
      <input name="user[name]" type="text" size="30" value="Jim Smith"/>
    </label>
</div>
<br>
<div class="form-row">
    <label>
      <span>Email</span>
      <input name="user[email]" type="text" size="30" data-stripe="email" value="russell@adamm.net"/>
    </label>
</div>
<br>
<div class="form-row">
    <label>
      <span>Phone</span>
      <input name="user[phone]" type="text" size="30" value="415-859-8060"/>
    </label>
</div>
<br>

 Pick a day and 2-hour window in the evening when you will definitely be home and available to approve your purchase.
<br>
<div class="form-row">
    <label>
      <span>Delivery Date</span>
      <input name="order[target_delivery_date]" type="text" size="30" id="date" value="December 14, 2014"/>
    </label>
</div>
<br>
<div class="form-row">
    <label>
      <span>Delivery Time - Starting time for a 2-hour window </span>
      <input name="order[target_delivery_time_start]" type="Integer" size="30" value="6"/>
    </label>
</div>
<br>
<div class="form-row">
    <label>
      <span>Shipping Address</span>
      <input name="user[address]" type="text" size="30" value="3243 Mason Way, San Francisco, CA 94023"/>
    </label>
</div>
<br>
<div class="form-row">
    <label for "order[delivery_notes]">Delivery Notes:</label><br>
    <textarea name="order[delivery_notes]" placeholder="What's the best time and days to deliver?  Is there an access code? Do you have a dog who might bark at the delivery person? etc." rows="4" cols="50" >Please deliver at 3pm next Tuesday. My door code is #33</textarea>
</div>

<div class="form-row">
  <label>
    <span>Card Number</span>
    <input type="text" size="20" data-stripe="number" value="4242 4242 4242 4242" />
  </label>
</div>

<div class="form-row">
  <label>
    <span>CVC</span>
    <input type="text" size="4" data-stripe="cvc" value="123"/>
  </label>
</div>

<div class="form-row">
  <label>
    <span>Expiration (MM/YY)</span>
    <input type="text" size="2" data-stripe="exp-month" value="05" />
  </label>
  <span> / </span>
  <input type="text" size="4" data-stripe="exp-year" value="16"/>
</div>

  <button type="submit">Order This</button>
</form>
<p>We will pre-authorize your credit card.  However, you won't be charged until the item is delivered and you have approved it.</p>

</div>


<!-- Stripe -->
  <script type="text/javascript" src="https://js.stripe.com/v2/">
  console.log("Stripe javascript loaded")

  </script>

  <script type="text/javascript">
  // This identifies your website in the createToken call below

  console.log("form javascript loaded")

  Stripe.setPublishableKey("<%= stripe_public_key %>");

  console.log("public key set")

  jQuery(function($) {
    $('#payment-form').submit(function(event) {
      var $form = $(this);

      console.log("Listening for submit")

      // Disable the submit button to prevent repeated clicks
      $form.find('button').prop('disabled', true);


      Stripe.card.createToken($form, stripeResponseHandler);

      // Prevent the form from submitting with the default action
      return false;
    });
  });

  function stripeResponseHandler(status, response) {
    var $form = $('#payment-form');

    if (response.error) {
      // Show the errors on the form
      $form.find('.payment-errors').text(response.error.message);
      $form.find('button').prop('disabled', false);
    }

    else {
      // response contains id and card, which contains additional card details
      var token = response.id;

      // Insert the token and customer into the form so they gets submitted to my server
      $form.append($('<input type="hidden" name="stripeToken" />').val(token));

      // and submit
      $form.get(0).submit();
    }
  };

  </script>


