<div class="Sales Page">

<img src="<%= item.picture1_url %>">
<img src="<%= item.picture2_url %>">
<img src="<%= item.picture3_url %>">
<h4><%= item.brand %> <%= item.type %></h4>
Originally Priced at: $<b><%= To_Dollars(item.original_price) %></b>
<br>
<h3>Now selling for: $<b><%= To_Dollars(item.asking_price) %></b></h3>
<h2>Delivery Cost: $30</h2>
<h2>Total Cost: $<%= To_Dollars(item.asking_price) + 30 %></h2>

<br>
Notes:
<br>
<%= item.notes %>
<br><br>
<h4>Purchase Today</h4>



<form action="/orders" method="POST" id="payment-form">
  <span class="payment-errors"></span>

<input name="item[id]" type="hidden" value="<%= item.id %>">

<div class="form-row">
    <label>
      <span>Name</span>
      <input name="user[name]" type="text" size="30" value="Jim Smith"/>
    </label>
</div>
<br>
<div class="form-row">
    <label>
      <span>Email</span>
      <input name="user[email]" type="text" size="30" data-stripe="email" value="russell@adamm.net"/>
    </label>
</div>
<br>
<div class="form-row">
    <label>
      <span>Phone</span>
      <input name="user[phone]" type="text" size="30" value="415-853-9060"/>
    </label>
</div>
<br>

 Pick a day and 2-hour window in the evening when you will definitely be home and available to approve your purchase.
<br>
<div class="form-row">
    <label>
      <span>Delivery Date</span>
      <input name="order[target_delivery_date]" type="text" size="30" id="date" value="December 14, 2014"/>
    </label>
</div>
<br>
<div class="form-row">
    <label>
      <span>Delivery Time - Starting time for a 2-hour window </span>
      <input name="order[target_delivery_time_start]" type="Integer" size="30" value="6"/>
    </label>
</div>
<br>
<div class="form-row">
    <label>
      <span>Shipping Address</span>
      <input name="user[address]" type="text" size="30" value="3243 Mason Way, San Francisco, CA 94023"/>
    </label>
</div>
<br>
<div class="form-row">
    <label for "order[delivery_notes]">Delivery Notes:</label><br>
    <textarea name="order[delivery_notes]" placeholder="What's the best time and days to deliver?  Is there an access code? Do you have a dog who might bark at the delivery person? etc." rows="4" cols="50" >Please deliver at 3pm next Tuesday. My door code is #33</textarea>
</div>

<div class="form-row">
  <label>
    <span>Card Number</span>
    <input type="text" size="20" data-stripe="number" value="4242 4242 4242 4242" />
  </label>
</div>

<div class="form-row">
  <label>
    <span>CVC</span>
    <input type="text" size="4" data-stripe="cvc" value="123"/>
  </label>
</div>

<div class="form-row">
  <label>
    <span>Expiration (MM/YYYY)</span>
    <input type="text" size="2" data-stripe="exp-month" value="05" />
  </label>
  <span> / </span>
  <input type="text" size="4" data-stripe="exp-year" value="16"/>
</div>

  <button type="submit">Order This</button>
</form>
<p>We will pre-authorize your credit card.  However, you won't be charged until the item is delivered and you have approved it.</p>

</div>





