<!--=== Shop Product ===-->
    <div class="shop-product">
        <!-- Breadcrumbs v5 -->
        <div class="container">
            <ul class="breadcrumb-v5">
                <li><a href="/"><i class="fa fa-rocket"></i></a></li>
                <li class="active">Products</li>
            </ul>
        </div>
        <!-- End Breadcrumbs v5 -->

        <div class="container">
            <div class="row">
                <div class="col-md-6 md-margin-bottom-50">
                    <div class="ms-showcase2-template">
                          <!-- Master Slider -->
                          <div class="master-slider ms-skin-default" id="masterslider">
                            <div class="ms-slide">
                                <img class="ms-brd" src="<%= item.picture1_url %>" data-src="<%= item.picture1_url %>">
                                <% if item.picture2_url != nil %>
                                <img class="ms-thumb" src="<%= item.picture1_url %>" alt="thumb">
                                <% end %>
                            </div>
                            <% if item.picture2_url %>
                            <div class="ms-slide">
                                <img class="ms-brd" src="<%= item.picture2_url %>" data-src="<%= item.picture2_url %>">
                                <img class="ms-thumb" src="<%= item.picture2_url %>" alt="thumb">
                            </div>
                            <% end %>
                            <% if item.picture3_url %>
                            <div class="ms-slide">
                                <img class="ms-brd" src="<%= item.picture2_url %>" data-src="<%= item.picture2_url %>">
                                <img class="ms-thumb" src="<%= item.picture2_url %>" alt="thumb">
                            </div>
                            <% end %>
                          </div>
                        <!-- End Master Slider -->
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="shop-product-heading">
                        <h2><%= item.brand %> <%= item.type %></h2>
                        <ul class="list-inline shop-product-social">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        </ul>
                    </div><!--/end shop product social-->


                    <p><%= item.notes %></p><br>

                    <ul class="list-inline shop-product-prices margin-bottom-30">
                        <li class="shop-red">$<%= To_Dollars(item.asking_price) %></li>
                        <li class="line-through">$<%= To_Dollars(item.original_price) %></li>
                    </ul><!--/end shop product prices-->



                    <div class="margin-bottom-40">
                        <form method="get" action="/checkout" name="f1" class="sm-margin-bottom-20">
                        <input name="item_id" type="hidden" value="<%= item.id %>">
                        <button a href="/checkout" class="btn-u btn-u-sea-shop btn-u-lg">Order</button>
                        </form>
                    </div><!--/end product quantity-->

                  <!-- <ul class="list-inline add-to-wishlist add-to-wishlist-brd">
                        <li class="wishlist-in">
                            <i class="fa fa-heart"></i>
                            <a href="#">Add to Wishlist</a>
                        </li>
                        <li class="compare-in">
                            <i class="fa fa-exchange"></i>
                            <a href="#">Add to Compare</a>
                        </li>
                    </ul> -->
                    <p class="wishlist-category"><strong>Categories:</strong><%= item.type %></p>
                </div>
            </div><!--/end row-->
        </div>
    </div>
    <!--=== End Shop Product ===-->



    <!--=== Content Medium ===-->
    <div class="content-md container">
        <!--=== Product Service ===-->
<div class="row margin-bottom-60">
                        <div class="col-md-4 product-service md-margin-bottom-30">
                            <div class="product-service-heading">
                                <i class="fa fa-laptop"></i>
                            </div>
                            <div class="product-service-in">
                                <h3>Pay Online, No Cash</h3>
                                <p>Order and pay via credit card.</p>
                            </div>
                        </div>
                        <div class="col-md-4 product-service md-margin-bottom-30">
                            <div class="product-service-heading">
                                <i class="fa fa-truck"></i>
                            </div>
                            <div class="product-service-in">
                                <h3>We Deliver</h3>
                                <p>A professional delivery crew brings your furniture at a time of your choosing<br>You never have to meet the buyer.</p>
                            </div>
                        </div>

                        <div class="col-md-4 product-service md-margin-bottom-30">
                            <div class="product-service-heading">
                                <i class="icon-refresh"></i>
                            </div>
                            <div class="product-service-in">
                                <h3>Free Returns</h3>
                                <p>Don't like the item?
                                We'll take it right back at no charge.</p>
                            </div>
                        </div>

                    </div><!--/end row-->
        <!--=== End Product Service ===-->

    </div><!--/end container-->
    <!--=== End Content Medium ===-->

     <!--=== Illustration v2 ===-->
    <div class="container">
        <div class="heading heading-v1 margin-bottom-20">
            <h2>Other Cool Stuff:</h2>
        <!--     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed odio elit, ultrices vel cursus sed, placerat ut leo. Phasellus in magna erat. Etiam gravida convallis augue non tincidunt. Nunc lobortis dapibus neque quis lacinia. Nam dapibus tellus sit amet odio venenatis</p> -->
        </div>

        <div class="illustration-v2 margin-bottom-60">
            <div class="customNavigation margin-bottom-25">
                <a class="owl-btn prev rounded-x"><i class="fa fa-angle-left"></i></a>
                <a class="owl-btn next rounded-x"><i class="fa fa-angle-right"></i></a>
            </div>

            <ul class="list-inline owl-slider-v4">
            <% items_for_sale.each do |item| %>
                <li class="item">
                    <a href="/items/<%= item.id %>"><img class="img-responsive" src="<%= item.picture1_url %>" alt=""></a>
                    <div class="product-description-v2">
                        <div class="margin-bottom-5">
                            <h4 class="title-price"><a href="#"><%= item.brand %> <%= item.type %></a></h4>
                            <span class="title-price">$<%= To_Dollars(item.asking_price) %></span>
                        </div>
                    </div>
                </li>
            <% end %>
            </ul>
        </div>
    </div>
    <!--=== End Illustration v2 ===-->
