Hi <%= order.shipper_name %>,<br><br>

On <%= order.target_delivery_date.strftime('%A, %B %d') %><br>
Please pick up this item:<br>
<h3>&nbsp;&nbsp;<%= order.item.brand %> <%= order.item.type %></h3>
&nbsp;&nbsp;<IMG border="1" HEIGHT=50 WIDTH=50 SRC="<%= order.item.picture1_url %>"><br><br>



From:<br>
<i><%= order.seller_name%></i>,<br>
<b><%= order.seller_address %></b><br>
between <b><%= order.target_delivery_time_start.to_i - 1 %> and <%= order.target_delivery_time_start.to_i %> p.m.</b> <br>

<a href="<%= order.seller_phone %>"><%= order.seller_phone %></a>
<br>
Pickup Notes:
<%= order.pickup_notes %>
<br><br>

Deliver to:<br>
<i><%= order.buyer_name%></i>,<br>
<b><%= order.buyer_address %></b><br>
between <b><%= order.target_delivery_time_start %> and <%= order.target_delivery_time_start + 2%> p.m.</b><br>
<a href="<%= order.buyer_phone %>"><%= order.buyer_phone %></a>
<br>
Delivery Notes:
<%= order.delivery_notes %>

<hr>

<b>On Pickup:</b><br>When you arrive, press the button below to notify the seller that you're here.<br><br>

<form action="http://localhost:9292/NotifySeller/<%= order.id %>" method="POST" >
<input type="image" src="http://i.imgur.com/WeKAwZ0.png"/>
</form>

<hr>
<b>On Arrival:</b><br>When you arrive, press the button below to notify the buyer, so that he can confirm the purchase and we can pay you.<br><br>

<form action="http://localhost:9292/NotifyBuyer/<%= order.id %>" method="POST" >
<input type="image" src="http://i.imgur.com/9h7CKDs.png"/>
</form>

<hr>

<b>Thanks for your help!</b><br><br>
Questions?  Call us at (415) 859-8060 <br>
Order ID:
<%= order.id %><br><br>
